<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-lv-card-description-styles.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rea="import" href="../cells-grid-template/cells-grid-template-styles">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<dom-module id="cells-lv-card-description">
  <template>
    <style include="cells-lv-card-description-styles cells-grid-template-styles"></style>
    <div class="content">
      <div class="cgt">
        <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
          <div class="card">
            <div class="left-container">
              <div class="imgContainer">
                <template is='dom-if' if="[[img]]">
                  <img alt="BBVA Logo" class="imgView" src="[[img]]">
                </template>
              </div>
              <div class="contrato">
                <div>
                  <template is='dom-if' if="[[title]]">
                    <span class="title">[[title]]</span> 
                  </template>
                </div>
                <div class="creditContainer">
                  <template is='dom-if' if="[[accountType]]">
                    <span class="accountType">[[accountType]]</span>
                  </template>
                  <template is="dom-if" if="[[_isEmpty(accountType,creditType)]]">
                    <span class="period">·</span>
                  </template>
                  <template is='dom-if' if="[[creditType]]">
                      <span class="accountType">[[creditType]]</span>
                  </template>
                </div>
                <div class="companyContainer">
                  <template is='dom-if' if="[[company]]">
                    <span class="accountType">[[company]]</span>
                  </template>
                </div>
              </div>
            </div>
            <div class="right-container">
              <template is="dom-repeat" items="[[balancesItems]]">
                <template is="dom-if" if="[[_isEqualTo(item.type,'amount')]]">
                  <div class="balances">
                    <label class="balance">[[item.text]]</label>
                    <cells-atom-amount
                      class="balanceQuantity"
                      amount="[[item.value.amount]]"
                      currency-code="[[item.value.currency]]"
                      local-currency="[[item.value.currency]]"
                      language="en-us"
                      align-left
                    ></cells-atom-amount>
                  </div>
                </template>
                <template is="dom-if" if="[[_isEqualTo(item.type,'text')]]">
                  <div class="balances">
                    <span class="balance"> [[item.text]]</span>
                    <span class="balanceQuantity">[[item.title]]</span>
                  </div>  
                </template>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script src="cells-lv-card-description.js"></script>
</dom-module>