@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-lv-card-description;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.content {
  background-color: #F4F4F4;
  padding-bottom: 1.5rem;
  @apply --cells-lv-card-description-content;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  @apply --cells-lv-card-description-card;
}
.left-container{
  display: flex;
  justify-content: space-between;
  @apply --cells-lv-card-description-left-container;
}
.right-container{
  display: flex;
  justify-content: space-between;
  @apply --cells-lv-card-description-richt-container;
}
.imgContainer{
  width: 3.5rem;
  display: flex;
  @apply --cells-lv-card-description-imgContainer;
}
.imgView {
  width: 2.5rem;
  height: 2.5rem;
  @apply --cells-lv-card-description-imgView;
}
.contrato {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
  @apply --cells-lv-card-description-contrato;
}
.title{
  font-weight: 450;
  font-size: rem(18px);
  @apply --cells-lv-card-description-title;
}
.accountType {
  font-size: rem(15px);
  font-weight: 300;
  @apply --cells-lv-card-description-accountType;
}
.period {
  font-weight: 550;
  @apply --cells-lv-card-description-period;
}
.balances {
  display:flex;
  flex-direction: column;
  text-align: right;
  padding-right: 1.5rem;
  @apply --cells-lv-card-description-balances;

}
.balance {
  float: right;
  font-size: rem(15px);
  font-weight: 300;
  padding-bottom: .5rem;
  color: var(--cells-bfm-subheader-card-balance, var(--bbva-500, #666666));
  @apply --cells-lv-card-description-balance;
}
.balanceQuantity {
  float: right;
  font-size: 20px;
  color: #121212;
  font-weight: 300;
  @apply --cells-lv-card-description-balanceQuantity;
}
