<dom-module id="cells-lv-card-description-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif); }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.content {
  background-color: #F4F4F4;
  padding-bottom: 1.5rem; }

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  @apply --cells-lv-card-description-card; }

.left-container {
  display: flex;
  justify-content: space-between; }

.right-container {
  display: flex;
  justify-content: space-between; }

.imgContainer {
  width: 3.5rem;
  display: flex; }

.imgView {
  width: 2.5rem;
  height: 2.5rem; }

.contrato {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between; }

.title {
  font-weight: 450;
  font-size: 1.125rem; }

.accountType {
  font-size: 0.9375rem;
  font-weight: 300; }

.period {
  font-weight: 550; }

.balances {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 1.5rem; }

.balance {
  float: right;
  font-size: 0.9375rem;
  font-weight: 300;
  padding-bottom: .5rem;
  color: var(--cells-bfm-subheader-card-balance, var(--bbva-500, #666666)); }

.balanceQuantity {
  float: right;
  font-size: 20px;
  color: #121212;
  font-weight: 300; }

</style></template></dom-module>